@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

body {
    background-color: #FFF247;
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #75D2FF 15%, #3A7BFF 85%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #75D2FF 15%, #3A7BFF 85%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #75D2FF 15%, #3A7BFF 85%);
    background-image: url("images/overlay.png"), linear-gradient(45deg, #75D2FF 15%, #3A7BFF 85%);
}

table th {
    color: #636363;
}

table thead {
    border-bottom-color: rgba(99, 99, 99, 0.35);
}
